# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
monitor
*.csv
.vscode

config-MFPC.yaml
cons.yaml

.undodir
stream_*.pcm
