# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.csv
.vscode

/monitor
/clientapi/clientprotocol.pb.go
/clientapi/clientprotocol.swagger.json
target

config-NR.yaml
config-MFPC.yaml
cons.yaml
deadlock.yaml

.undodir
stream_*.pcm
